@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-200 font-sans;
}

h1,
h2,
h3 {
  @apply text-gray-100 font-bold;
}

nav a {
  @apply text-gray-300 hover:text-blue-400 font-medium px-4 py-2;
}

button {
  @apply bg-blue-600 text-gray-100 font-semibold py-2 px-4 rounded hover:bg-blue-700;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}